In [1]:
import pandas as pd

In [5]:
movies = pd.read_clipboard()

movies=pd.read_csv(r'my movies.csv')

In [8]:
movies=pd.read_csv(r'my movies.csv')

In [9]:
movies

,id,name,industry,genre,language,duration,rating
0,1,bahubali,tollywood,action,telegue,170,9.5
1,2,brahmastra,bollwood,mysterous,hindi,180,5.0
2,3,uri---the surgical strike,bollywood,action,hindi,120,10.0
3,4,DDLJ,bollywood,romantic,hindi,150,10.0
4,5,avengers-end,hollywood,action,english,180,9.0
5,6,tenet,hollywood,scifi,english,150,8.5
6,7,major,bollywood,action,hindi,140,8.0
7,8,intersteller,hollywood scifi,NaN,english,190,7.0
8,9,gravity,hollywood,scifi,english,130,6.0
9,10,titanic,hollywood,drama,englih,180,9.0
10,11,yeh jawani hai dewani,bollywood romantic,NaN,hindi,150,5.0
11,12,houseful,bollywood,comedy,hindi,150,6.0
12,13,the dictator,hollywood scifi,comedy,english,120,7.0
13,14,herafery,bollywood,comedy,hindi,140,9.0
14,15,sholey,bollwywood,drama,hindi,150,8.5

In [10]:
movies['name'][movies['duration'].argmax()]

'intersteller'

In [11]:
movies['duration']

0     170
1     180
2     120
3     150
4     180
5     150
6     140
7     190
8     130
9     180
10    150
11    150
12    120
13    140
14    150
Name: duration, dtype: int64

In [14]:
movies['name']

0                      bahubali
1                    brahmastra
2     uri---the surgical strike
3                          DDLJ
4                  avengers-end
5                         tenet
6                         major
7                  intersteller
8                       gravity
9                       titanic
10        yeh jawani hai dewani
11                     houseful
12                 the dictator
13                     herafery
14                       sholey
Name: name, dtype: object

In [19]:
sum(movies['rating']==10)

2

In [22]:
movies ['industry'].value_counts()

bollywood             5
hollywood             4
hollywood scifi       2
tollywood             1
bollwood              1
bollywood romantic    1
bollwywood            1
Name: industry, dtype: int64

In [21]:
movies['industry'].nunique()

7

In [26]:
 movies['name'] [movies[movies['genre']=='comedy'] ['rating'].idxmin()]

'houseful'

In [31]:
movies ['name'] [movies[movies['language'] =='english'] ['duration'].idxmax()]

'intersteller'